@page "/tasks/edit/{TaskId}"

@if(task == null){
    <LoadingSpinner>
        Loading...
    </LoadingSpinner>
}
else{
    <div class="pt-1">
        <h2>Edit task - @task.Title</h2>
        <TaskForm TaskModel="task" OnValidSubmit="UpdateTask"/>
    </div>
}
